{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap_admin/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
 {% block title %}Archivos Contador | Administración MundoVW{% endblock %}
{% block content %}
               
 
<form class="container" id="changelist-form"  method="post" action={% url 'descargar_archivo_contador_ventas' %}>
   {% csrf_token %}
  <fielset class="module aligned scheduler-border ">
    <legend class="scheduler-border  ">Archivos Contador </legend>
    <div class=" col-lg-6  " >
      {% csrf_token %}
      {{form.as_p}}
      <button type="submit" class=" list-group-item active iva b "> <span class="glyphicon glyphicon-export"></span>
      <span class="text">exportar</span></button>
    </div>
  </fielset>    
</form>

{% endblock %}

<script type="text/javascript" src="/admin/jsi18n/"></script>
{% block bootstrap_admin_js %}
  <script src="{% static 'bootstrap_admin/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'bootstrap_admin/js/base.js' %}"></script>

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

<!-- <script src="{% static 'maglei/js/form_ventas.js' %}"></script> -->
{% endblock bootstrap_admin_js %}
