{% extends "easy_pdf/base.html" %}

{% block layout_style %}
    <style type="text/css">
        @page {
         size: {{ pagesize|default:"A4" }};

        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_encabezado_tipo_factura;
            left: 307pt; width: 17pt; top: 35pt; height: 20pt;

        }
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content;
            left: 27pt; width: 200pt; top: 128pt; height: 80pt;
        }

        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content3;
            left: 20pt; width: 550pt; top: 176pt; height: 60pt;
        }

        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content4;
            left: 100pt; width: 400pt; top: 215pt; height: 40pt;
        }

        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content_right;
            left: 368pt; width: 200pt; top: 133pt; height: 40pt;
        }
        @frame content_frame {           /* content_frame */
             left: 15pt;width:570pt; top: 240pt;height:500px;
        }
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_encabezado_numero;
            left: 368pt;width:420pt; top: 85pt;
        }
        @frame header_frame {
            -pdf-frame-content: foto;
            left:19pt;  top: 25pt; width: 500px;
        }
        @frame footer_frame {           /* Static Frame */
            -pdf-frame-content: encuadre;
            left: 20pt;width:550pt; top: 25pt;
        }
        @frame header_frame {
            -pdf-frame-content: supPresupuesto;
            left: 20pt; width: 550pt; top: 125pt; height: 40pt;
        }


    }

    </style>
{% endblock %}


{% block extra_style %}
    <style type="text/css">
        body {
            font-family: "Lato", "Helvetica", "sans-serif";
            color: #333333;
        }

        h4 {
            line-height: 10% ;

        }
        .datos{
            text-align: right;
        }
        .centrado{
           text-align:center;
        }

        .encuadre{
             border: 0.5px solid #000;


        }
        .pal{
            padding-bottom: 1000px;
        }
        .prepSup{
            display: block;
            height: 1px;
            border: 0;
            border-top: 0.5px solid #000;
            margin: 1em 0;
            padding: 3px;
        }
        .tipo{

            padding-left: 5px;
            padding-top: 5px;
            padding-bottom: 4px;
            line-height:  0px;
        }
        .hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 0.5px solid #000;
            border-bottom: 0.5px solid #000;
            margin: 1em 0;
            padding-left: 10px;
        }
        .cliente{
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .numero{
           margin-right: 40px;
           text-align:right;
        }
        .numero2{
           margin-right: 40px;
           text-align:right;
        }
        .espacio{
            padding-left: 20px;
        }
        .total{
            text-align: right;
            padding-right: 50px;
        }
        .grande{
         font-size: 16px;
        }
        .letra{
            font-size: 13px;
            line-height:  0.2em ;
        }
        .foto{
            zoom : 11%;
        }
    </style>
{% endblock %}
{%block page_header%}
    <div id="supPresupuesto" class ="prepSup"> <h6> &nbsp; </h6></div>
    <p id="foto" class="foto" ><img src="{{conf.url_estaticos}}/img_remito.jpg"></p>
    <div id="encuadre" class ="encuadre">
    <h6 class="pal">
        </br>
        </br>
        </br>
    </h6>

    </div>
    <div id="header_encabezado_tipo_factura" class="encuadre tipo">
            <h1 class="grande">
                X
            </h1>
    </div>
    <div id="header_encabezado_numero" class="grande">
            <h1  >
                Remito N°:  {{n}}
            </h1>
    </div>
    <div id="header_content" class="letra">
            <h4>
                {{prop.nombre}}</br>
                {{prop.direccion}}</br>
                Tel: {{prop.telefono}} </br>
                {{prop.cod_postal}} - {{prop.ciudad}} - Pcia de Bs. As.</br>
                E-mail: {{prop.email}}</br>
            </h4>
    </div>
    <div id="header_content_right" class="letra">
            <h4>
                Fecha y Hora:   {{venta.fecha.day}}/{{venta.fecha.month}}/{{venta.fecha.year}}</br>
                C.U.I.T.: {{prop.cuit}}</br>
            </h4>
    </div>

    <div id="header_content3" class="cliente">
            <h4 class="hr letra">
               {{venta.cliente.apellido}}, {{venta.cliente.nombre}}</br>
               {{venta.cliente.direccion}}</br>
               C.U.I.T: {{venta.cliente.dni_cuit}}
            </h4>
    </div>
    <div id="header_content4" class="letra">
            <h4 class="centrado">
               *** DOCUMENTO NO VALIDO COMO FACTURA ***</br>
            </h4>
    </div>


{% endblock %}

{% block content %}
     <table  class="letra" >
                                <thead>
                                     <tr>
                                        <th width="100">Cantidad </th>
                                        <th  width="290" >Descripción</th>
                                        <th width="100">Precio</th>
                                        <th width="100">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        </br>
                                {% for art in articulos%}
                                        <tr>
                                            <td class="espacio numero2">
                                                {{art.cantidad}}
                                            </td>
                                            <td  class="espacio" >
                                                <p>{{art.descripcion|slice:":100"}}</p>
                                            </td>
                                            <td class="numero">
                                                {{art.precio}}
                                            </td>
                                            <td class="numero2">
                                                {{art.total}}
                                            </td>
                                        </tr>

                                   {%endfor%}
                                </tbody>
                        </table>
     </br>
     <div class="total" >
            <h4 class="grande">
               <p style="display: initial;">IMPORTE TOTAL: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$</p>
               <p style="display: initial;" class="numero">{{venta.total}} </p>
            </h4>
    </div>

{% endblock %}
