{% extends "easy_pdf/base.html" %}

{% block layout_style %}
    <style type="text/css">
        @page {
         size: {{ pagesize|default:"A4" }};


        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_encabezado_cod_factura;
            left: 250pt; width: 45pt; top: 70pt; height: 50pt;
        }
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_encabezado_tipo_factura;
            left: 250pt; width: 45pt; top: 30pt; height: 100pt;
        }
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: datos_empresa;
            left: 27pt; width: 200pt; top: 120pt; height: 80pt;
        }

        /*cliente*/
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content3;
            left: 20pt; width: 550pt; top: 175pt; height: 80pt;
        }

        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content_right;
            left: 368pt; width: 200pt; top: 120pt; height: 40pt;
        }
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content_right2;
            left: 368pt; width: 200pt; top: 183pt; height: 80pt;
        }

        @frame header_frame {
            -pdf-frame-content: foto;
            left:19pt;  top: 25pt; width: 500px;
        }

        @frame header_frame {           
            -pdf-frame-content: fotoAfip;
            left:170pt;  top:745pt; width: 500px; 
        }

        @frame content_frame {           /* contenido del content */
            left: 15pt;width:550pt; top: 245pt;
        }
        @frame footer_frame {           /* Static Frame */
            -pdf-frame-content: header_content_table_footer;
            left: 40pt;width:520pt; top: 720pt;
        }

        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_encabezado_numero;
            left: 310pt;width:420pt; top: 80pt;
        }
        @frame footer_frame {           /* Static Frame */
            -pdf-frame-content: footer_content_total_right;
            left: 366pt;width:200pt; top: 720pt;
        }
        @frame footer_frame {           /* Static Frame */
            -pdf-frame-content: footer_content_total_right2;
            left: 350pt;width:200pt; top: 750pt;
        }
        @frame footer_frame {           /* Static Frame */
            -pdf-frame-content: encuadre;
            left: 20pt;width:550pt; top: 25pt;
        }
        @frame content_frame {
            -pdf-frame-content: supPresupuesto;
            left: 20pt; width: 550pt; top: 115pt; height: 40pt;
        }
        @frame content_frame {
            -pdf-frame-content: finalfactura;
            left: 20pt; width: 550pt; top: 710pt;
        }
        @frame header_frame {
            -pdf-frame-content: tabla;
            left: 15pt;width:560pt; top: 235pt;
        }
    }
    </style>
{% endblock %}conf


{% block extra_style %}
    <style type="text/css">
        body {
            font-family: "Lato", "Helvetica", "sans-serif";
            color: #333333;
        }

        h4 {
            line-height: 10% ;

        }
        .datos{
            text-align: right;
        }
        .centrado{
           text-align:center;
        }
        .numero{
           margin-right: 25px;
           text-align:right;
        }
        .encuadre{
             border: 0.5px solid #000;

        }
        .pal{
            padding-bottom: 1000px;

        }
        .prepSup{
            display: block;
            height: 1px;
            border: 0;
            border-top: 0.5px solid #000;
            margin: 1em 0;
            padding: 3;
        }
        .hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 0.5px solid #000;
            border-bottom: 0.5px solid #000;
            margin: 1em 0;
            padding: 3;
        }
         .letra{
            font-size: 13px;
            line-height:  0.2em ;
        }


         .cantidad{
             padding-left: 25px;
        }
        .tipo{
            text-align:center;
            padding-left: 5px;
            padding-top: 5px;
            padding-bottom: 4px;
            line-height:  0px;
        }
        .tabla_letra{
         font-size: 14px;
        }
        .grande{
         font-size: 16px;
        }
        .grande2{
         font-size: 46px;
        }
        .chiquito{
         font-size: 10px;   
        }
        .foto{
            zoom:10%;
        }
        .fotoAfip{
            zoom:40%;
        }
    </style>
{% endblock %}
{%block page_header%}
    <div id="encuadre" class ="encuadre">
        <h6 class="pal">
            </br>
            </br>
            </br>
        </h6>

    </div>
    <div id="supPresupuesto" class ="prepSup"> <h6> &nbsp; </h6></div>
     <p id="foto" class="foto" ><img src="{{conf.url_estaticos}}/img_venta.jpg"></p>
    <div id="header_encabezado_tipo_factura"  class="encuadre tipo">
            <h1 class="grande2">
                {{venta.tipo_factura}}
            </h1>
    </div>
    <div id="header_encabezado_cod_factura" class="encuadre tipo">
            <h2 class="chiquito">
            {% if venta.tipo_venta == 'Nota de Credito' %}
                {% if venta.tipo_factura == 'A' %}
                    &nbsp;Cod. 003
                {% else %}
                    {% if venta.tipo_factura == 'B' %}
                       &nbsp;Cod. 008
                    {% endif %}
                {% endif %}
            {% else %}
                {% if venta.tipo_factura == 'A' %}
                    &nbsp;Cod. 001
                {% else %}
                    {% if venta.tipo_factura == 'B' %}
                        &nbsp;Cod. 006
                    {% endif %}
                {% endif %}
            {% endif %}
            </h2>
    </div>
    <div id="header_encabezado_numero" class="grande">
            <h2 >
                {% if venta.tipo_venta == 'nota' %}Nota de Credito N°: {{pto_venta}}-{{n}} {% else %} Factura N° : {{pto_venta}}-{{n}} {% endif %}
                </h2>

    </div>
    <div id="datos_empresa">
            <h4 class="letra">
                {{prop.nombre}}</br>
                {{prop.direccion}}</br>
                Tel: {{prop.telefono}} </br>
                {{prop.cod_postal}} - {{prop.ciudad}} - Pcia de Bs. As.</br>
                E-mail: {{prop.email}}</br>
            </h4>
    </div>
    <div id="header_content_right">
            <h4 class="letra">
                Fecha y Hora: {{venta.fecha|date:"SHORT_DATE_FORMAT"}} </br>
                C.U.I.T. {{prop.cuit}}</br>
                Ingresos Brutos :{{prop.ingresos_brutos}}</br>
                Inicio de Actividades: {{prop.inicio_actividad}}</br>
            </h4>
    </div>

    <div id="header_content3">
            <h4  class="hr letra">
                {{venta.cliente.apellido}}, {{venta.cliente.nombre}}</br>
                {{venta.cliente.direccion}}, {{venta.cliente.localidad}}({{venta.cliente.cod_postal}}), {{venta.cliente.provincia}}</br>
                DNI/CUIL/CUIT: {{venta.cliente.dni_cuit}}</br>
                Condición de Venta: {{venta.forma_pago}}</br>
            </h4>
    </div>
    <div id="header_content_right2">
        <h4 class=" letra">
            {% if venta.venta_remito %}
               Remito Nro: {{venta.id|RemitoPDF}}</br>
            {% endif %}
            {% if not venta.tipo_factura == 'X'%}
                CAE: {{venta.cae}}</br>
                Vencimiento CAE: {{venta.vencimiento_cae|date:"SHORT_DATE_FORMAT"}}
            {% endif %}
        </h4>
    </div>

    <table id="tabla"  class="tabla_letra">
        <thead>
                <tr>
                    <th width="80">Cantidad </th>
                    <th  width="240" >Descripción</th>
                    <th width="100">P. Unitario</th>
                    <th width="80">% iva </th>
                    <th width="100">Precio Neto</th>
                </tr>
        </thead>
    </table>

{% endblock %}
{% block content %}
    <table class="letra" >
        <tbody >
            {% for art in articulos%}
                    <tr>
                        <td width="80" class="cantidad">
                            {{art.cantidad}}
                        </td>
                        <td width="240" class="centrado">
                            <p >{{art.descripcion|slice:":100"}}</p>
                        </td>
                        <td width="100" class="numero">
                            {{art.precio}}
                        </td>
			<td width="80" class="numero">
                            {{art.iva}}
                        </td>
                        <td width="100" class="numero">
                            {{art.total}}
                        </td>

                    </tr>
                    {%endfor%}
        </tbody>
    </table>
{% endblock %}
{%block page_foot%}
    <div id="finalfactura" class ="prepSup"> <h6> &nbsp; </h6></div>
    <table id="header_content_table_footer" class="tabla_letra">
            <thead>
                <tr>
		    <th width="80">Subtotal </th>
		    <th width="80">Importe IVA</th>
                    <th width="80">Tarjeta </th>
                    <th width="80">Recargo </th>
                    <th width="80">Descuento</th>

                </tr>
            </thead>
            <tbody>
                    </br>
                     <tr>
			<td class="numero">
                            {{venta.neto_gravado}}
                        </td>
			<td class="centrado">
                            {{venta.iva}}
                        </td>
                        <td class="centrado">
                            {{venta.tarjeta.nombre}}
                        </td>
                        <td class="numero">
                            {{venta.recargo}} %
                        </td>
                        <td class="centrado">
                            {{venta.descuento}} %
                        </td>
			
                    </tr>
            </tbody>
    </table>

    <div id="footer_content_total_right" class="letra tabla_letra" >
            <h4>
               <p style="display: initial;">IMPORTE TOTAL: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$</p>
               <p style="display: initial;" class="numero">{{venta.total}} </p>
            </h4>
    </div>
    <div id="footer_content_total_right2" class="letra">
            <h4>
                {% if not venta.tipo_factura == 'X'%}
                    <pdf:barcode value={{codigo}} type="code128" humanreadable="1" align="right" />
                {% endif %}
            </h4>
    </div>

    <div id="footer_content_left" class="letra">
            <h4>
                <p id="fotoAfip" class="fotoAfip" ><img src="{{conf.url_estaticos}}/AFIP-LOGO-638X200.jpg"></p>
            </h4>
    </div>
{% endblock %}
