{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap_admin/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
 {% block title %}Iva Ventas | Administración MundoW{% endblock %}
{% block content %}
</br>
</br>
<form id="changelist-form"  method="post" action={% url 'exportar_facturas' %}>
                                {% csrf_token %}
                                <fielset class="module aligned ">
                                  <div class=" col-lg-6">
                                {% for field in form %}
                                                            {{ field.errors }}
                                                                {%if "desde" in field.label_tag or "hasta" in field.label_tag  %}
                                                                  <div class="  col-lg-6 col-md-12 col-sm-12 pull-left">
                                                                {%else%}
                                                                  <div class="  col-lg-12 col-md-12 col-sm-12 pull-left">
                                                                {% endif%}
                                                                  <div class="col-lg-6 margen-top tlabel">{{ field.label_tag }}</div>
                                                                      {{ field }}
                                                                  </div>  
                                                        {%endfor%}
                                </br>
                                      </br></br></br></br></br>
                                  <div><h1> ------------------------<br></h1>
                                  </div>
                                <button type="submit" class="  list-group-item active iva"> <span class="glyphicon glyphicon-file"></span>
                                
                                <span class="text"   target="_blank" >Exportar a Excel</span></button>
                                </div>

                                
                                </fielset>    
</form>
 
{% endblock %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
{% block bootstrap_admin_js %}
  <script src="{% static 'bootstrap_admin/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'bootstrap_admin/js/base.js' %}"></script>

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
 $.datepicker.regional['es'] = {
 closeText: 'Cerrar',
 prevText: '<Ant',
 nextText: 'Sig>',
 currentText: 'Hoy',
 monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
 monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
 dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
 dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
 dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
 weekHeader: 'Sm',
 dateFormat: 'dd/mm/yy',
 firstDay: 1,
 isRTL: false,
 showMonthAfterYear: false,
 yearSuffix: ''
 };
 $.datepicker.setDefaults($.datepicker.regional['es']);
  $(function () {
    $("#fechaI").datepicker({
        onSelect: function(dateText, inst) {
          var fechaF = $('#fechaF').val();
          if (fechaF != '') {
            $.ajax({
              url: '/admin/ventas_json/' + fechaF +'/'+ dateText + '/',
              data: '',
            }).done(function( data ) {
              $('#id_total').val(data.total);
              $('#id_iva').val(data.iva);
              $('#id_neto_gravado').val(data.neto);
            });
          }
        }
      });
    $("#fechaF").datepicker({
        onSelect: function(dateText, inst) {
           var fechaI = $('#fechaI').val();
          if (fechaI != '') {
             $.ajax({
              url: '/admin/ventas_json/' + dateText +'/'+ fechaI + '/',
              data: '',
            }).done(function( data ) {
              $('#id_total').val(data.total);
              $('#id_iva').val(data.iva);
              $('#id_netoGravado').val(data.neto);
              
            });
          }
        }
      });
  });

</script>
<!-- <script src="{% static 'maglei/js/form_ventas.js' %}"></script> -->
{% endblock bootstrap_admin_js %}

