{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap_admin/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />

 {% block title %}Nota de Credito | Administración{% endblock %}
{% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<form class="centrado" id="changelist-form" enctype="multipart/form-data" method="post" action={% url 'notaCredito' %}>
   {% csrf_token %}
  <fielset class="module aligned ">
    <div class=" col-lg-6  " >
      {% for field in form %}
            {{ field.errors }}

                  <div class="  col-lg-12 col-md-12 col-sm-12 pull-left" >
                      <div class="col-lg-6 margen-top tlabel">{{ field.label_tag }}</div>
                      {{ field }}
                  </div>
      {%endfor%}
      <button type="submit" class=" list-group-item active iva b ">
      <span class="text">Crear Nota de Credito</span></button>
    </div>
  </fielset>
</form>
{% endblock %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
{% block bootstrap_admin_js %}
  <script src="{% static 'bootstrap_admin/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'bootstrap_admin/js/base.js' %}"></script>

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
{% endblock bootstrap_admin_js %}
{% block js %}
<script>

  $.ajax({
      url: '/admin/all_clientes/',
      data: '',
  }).done(function( data ) {
    var options;
    options += '<option selected disabled > Seleccione un Cliente </option>';
    for (var i = 0; i < data.clientes.length; i++) {
      options += '<option value="' + data.clientes[i][0] + '">' + data.clientes[i][1] + ', ' + data.clientes[i][2] +'</option>';
    }
    $("select#id_Cliente").html(options);
  });

  $('#id_Cliente').on('change', function() {
      $.ajax({
          url: '/admin/getFacturas/'+$("select#id_Cliente").val(),
          data: '',
      }).done(function( data ) {
        var options;
        for (var i = 0; i < data.facturas.length; i++) {
          var date = data.facturas[i][2].split('-');
          options += '<option value="' + data.facturas[i][0] + '">' + data.facturas[i][1] + ' - ' + date[2] + "/" + date[1] + "/" + date[0] + '- Factura ' + data.facturas[i][3]+ '</option>';
        }
        $("select#id_Venta").html(options);
      });
    });

   $("#id_Cliente").select2();
   $("#id_Venta").select2();





</script>
{% endblock js %}
