{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap_admin/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
 {% block title %}Error Afip | Administración MundoW{% endblock %}
{% block content %}
</br>
</br>
   <p id="foto" class="foto" ><img src="{% static 'img/AFIP-LOGO-638X200.jpg' %}"></p>
   Error
   {{cod}}
{% endblock %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
{% block bootstrap_admin_js %}
  <script src="{% static 'bootstrap_admin/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'bootstrap_admin/js/base.js' %}"></script>

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

{% endblock bootstrap_admin_js %}

