{% extends "easy_pdf/base.html" %}

{% block layout_style %}
    <style type="text/css">
        @page {
         size: {{ pagesize|default:"A4" }};

        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_encabezado_tipo_factura;
            left: 307pt; width: 17pt; top: 57pt; height: 20pt;
        }
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: datos_empresa;
            left: 27pt; width: 200pt; top: 120pt; height: 80pt;
        }

        /*cliente*/
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content3;
            left: 20pt; width: 550pt; top: 175pt; height: 80pt;
        }

        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content_right;
            left: 368pt; width: 200pt; top: 120pt; height: 40pt;
        }

        @frame footer_frame {           /* Static Frame */
            -pdf-frame-content: footer_content_left;
            left: 0pt; width: 600pt; top: 780pt; height: 60pt;
        }

        @frame header_frame {
            -pdf-frame-content: foto;
            left:19pt;  top: 25pt; width: 500px;
        }
        @frame content_frame {           /* contenido del content */
            left: 15pt;width:550pt; top: 245pt;
        }
        @frame footer_frame {           /* Static Frame */
            -pdf-frame-content: header_content_table_footer;
            left: 40pt;width:520pt; top: 725pt;
        }

        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_encabezado_numero;
            left: 350pt;width:420pt; top: 60pt;
        }
        @frame footer_frame {           /* Static Frame */
            -pdf-frame-content: footer_content_total_right;
            left: 366pt;width:200pt; top: 730pt;
        }
        @frame footer_frame {           /* Static Frame */
            -pdf-frame-content: encuadre;
            left: 20pt;width:550pt; top: 25pt;
        }
        @frame content_frame {
            -pdf-frame-content: supPresupuesto;
            left: 20pt; width: 550pt; top: 115pt; height: 40pt;
        }
        @frame content_frame {
            -pdf-frame-content: finalfactura;
            left: 20pt; width: 550pt; top: 710pt;
        }
        @frame header_frame {
            -pdf-frame-content: tabla;
            left: 15pt;width:560pt; top: 230pt;
        }
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: footer_content_firma;
            left: 370pt;width:200pt; top: 768pt;
        }
    }

    </style>
{% endblock %}


{% block extra_style %}
    <style type="text/css">
        body {
            font-family: "Lato", "Helvetica", "sans-serif";
          color: #333333;
        }

        h4 {
            line-height: 10% ;

        }
        .centrado{
           text-align:center;
        }
        .numero{
           margin-right: 25px;
           text-align:right;
        }
        .encuadre{
             border: 0.5px solid #000;

        }
        .pal{
            padding-bottom: 1000px;

        }
        .prepSup{
            display: block;
            height: 1px;
            border: 0;
            border-top: 0.5px solid #000;
            margin: 1em 0;
            padding: 3;
        }
        .hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 0.5px solid #000;
            border-bottom: 0.5px solid #000;
            margin: 1em 0;
            padding: 3;
        }
         .letra{
            font-size: 13px;
            line-height:  0.2em ;
        }
         .letra_datoscliente{
            font-size: 14px;
            line-height:  0.2em ;
            padding-left: 30px;
        }
         .cantidad{
             padding-left: 25px;
        }
        .tipo{

            padding-left: 5px;
            padding-top: 5px;
            padding-bottom: 4px;
            line-height:  0px;
        }
        .tabla_letra{
         font-size: 14px;
        }

        .grande{
         font-size: 16px;
        }
        .foto{
            zoom : 10%;
        }
    </style>
{% endblock %}
{%block page_header%}
    <div id="encuadre" class ="encuadre">
        <h6 class="pal">
            </br>
            </br>
            </br>
        </h6>

    </div>
    <p id="foto" class="foto" ><img src="{{conf.url_estaticos}}/img_presupuesto.jpg"></p>
    <div id="supPresupuesto" class ="prepSup"> <h6> &nbsp; </h6></div>
    <div id="header_encabezado_tipo_factura"  class="encuadre tipo">
            <h1 class="grande">
                {{tipo}}
            </h1>
    </div>
    <div id="header_encabezado_numero" class="letra">
            <h1>
                Presupuesto N°: {{n}}
            </h1>
    </div>
    <div id="datos_empresa">
            <h4 class="letra">
                {{prop.nombre}}</br>
                {{prop.direccion}}</br>
                Tel: {{prop.telefono}} </br>
                {{prop.cod_postal}} - {{prop.ciudad}} - Pcia de Bs. As.</br>
                E-mail: {{prop.email}}</br>
            </h4>
    </div>
    <div id="header_content_right">
            <h4 class="letra">
                Fecha y Hora: {{venta.fecha|date:"SHORT_DATE_FORMAT"}} </br>
                C.U.I.T. {{prop.cuit}}</br>
                Ingresos Brutos :{{prop.ingresos_brutos}}</br>
                Inicio de Actividades: {{prop.inicio_actividad}}</br>
            </h4>
    </div>

    <div id="header_content3">
            <h4  class="hr letra_datoscliente">
                {{venta.cliente.apellido}}, {{venta.cliente.nombre}}</br>
                {{venta.cliente.direccion}}, {{venta.cliente.localidad}}({{venta.cliente.cod_postal}}), {{venta.cliente.provincia}}</br>
                DNI/CUIL/CUIT: {{venta.cliente.dni_cuit}}</br>
            </h4>
    </div>

    <table id="tabla"  class="tabla_letra">
        <thead>
                <tr>
                    <th width="80">Cantidad </th>
                    <th  width="200" >Descripción</th>
                    <th width="80">P. Unitario</th>
                    <th width="80">Alicuota IVA</th>
                    <th width="80">Precio Neto</th>
                </tr>
        </thead>
    </table>

{% endblock %}
{% block content %}
    <table class="letra" >
        <tbody >
            {% for art in articulos%}
                <tr>
                    <td width="80" class="cantidad">
                           {{art.cantidad}}
                    </td>
                    <td width="200">
                        <p >{{art.descripcion|slice:":100"}}</p>
                    </td>
                    <td width="80" class="numero">
                        {{art.precio}}
                    </td>
                    <td width="80" class="numero">
                        {{art.iva}}
                    </td>
                    <td width="80" class="numero">
                        {{art.total}}
                    </td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
{% endblock %}
{%block page_foot%}
    <div id="finalfactura" class ="prepSup"> <h6> &nbsp; </h6></div>

    <table id="header_content_table_footer" class="tabla_letra">
            <thead>
                <tr>
                    <th width="80">Tarjeta </th>

                    <th width="80">Recargo</th>

                    <th width="80">Descuento</th>

                </tr>
            </thead>
            <tbody>
                    </br>
                     <tr>
                        <td class="centrado">
                            {{venta.tarjeta.nombre}}
                        </td>
                        <td class="centrado">
                            {{venta.recargo}} %
                        </td>
                        <td class="centrado">
                            {{venta.descuento}} %
                        </td>

                    </tr>
            </tbody>
    </table>

     <div id="footer_content_total_right" class="letra grande" >
            <h4>
               <p style="display: initial;">IMPORTE TOTAL: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$</p>
               <p style="display: initial;" class="numero">{{venta.total}}
    </div>
    <div id="footer_content_firma" class="letra">
            <h4>
               <p style="display: initial;">Firma:</p>
               <p style="display: initial;" class="numero">.........................................</p>
            </h4>
            <h4>
               <p style="display: initial;">Aclaración:</p>
               <p style="display: initial;" class="numero">................................</p>
            </h4>
    </div>

    <div id="footer_content_left">
        <h4 class=" letra_datoscliente">
            TOTAL FINAL CON IVA INCLUIDO ESTE PRESUPUESTO TIENE</br>
             UNA VALIDEZ DE 10 DIAS A PARTIR DE LA FECHA DE EMISIÓN.</br>
            </br>
        </h4>
    </div>


{% endblock %}
