{% extends "admin/change_list.html" %}
{% block result_list %}
 </br>
 <div class="container">
    <div class="col-lg-3 col-md-3">
        <h4 class="nombre">
            <span>Saldo Total: ${{total}}</span>
        </h4>
    </div>
 </div>

    {{ block.super }}
{% endblock %}