/* change_form */
.form-panel .errornote {
  color: #a94442;
  font-weight: bold;
}
.form-expand {
  padding: 7px;
  position: absolute;
  right: -30px;
  top: 5px;
  z-index: 1;
}

.form-row {
  clear: both;
}
.form-row,
.form-panel {
  position: relative;
}
.form-row .add-another,
.form-row .related-lookup {
  position: absolute;
  right: 0;
  top: 0;
}
.form-row label {
  font-weight: normal;
}
.form-row label.required {
  font-weight: bold;
}
.field-boxes {
  overflow: hidden;
}

.form-row.field-box {
  clear: none;
}

.list-group {
  margin-bottom: 10px;
}
.submit-row .list-group-item {
  width: 100%;
  text-align: left;
}
.submit-row button:hover,
.submit-row button:focus {
  background-color: #f5f5f5;
  color: #555;
}
.submit-row.list-group.affix {
  padding-right: 15px;
  top: 15px;
}
.object-tools {
  padding:0;
}
.object-tools .btn {
  overflow: hidden;
  text-overflow:ellipsis;
}
.object-tools li:only-child a {
  border-radius: 4px !important;
}

.form-fields {
  padding-left: 0;
}
.form-buttons {
  padding-right: 0;
}
.form-buttons.contracted .text {
  display: none;
}
.form-buttons.contracted .list-group-item {
  text-align: center;
}
.form-buttons.contracted .btn-default,
.form-buttons.contracted .list-group-item {
  padding: 10px 0;
}
.form-buttons.contracted .object-tools {
  width: 100%;
}

.form-buttons .affix {
  margin-right: 15px;
  top: 15px;
}
.form-buttons.contracted .affix {
  margin-right: 0;
  right: 15px;
}
.form-buttons.contracted .affix .btn-default,
.form-buttons.contracted .affix .list-group-item {
  padding: 15px;
}

.inline li{
  margin-right: 5px;
}
.inline li, .inline label, .clearable-file-input label{
  display: inline;
}

.form-row > div > ul {
  padding-left: 0;
  list-style: none;
}

#content-main .form-fields .collapse {
  display: block;
  visibility: visible;
}
.form-fields .collapsed .form-row {
  display: none;
}
.form-fields h2 {
  font-size: 18px;
}
fieldset.module > h2:first-child {
    margin-top: 0;
}
.form-fields .collapse h2 {
  background: #f9f9f9;
  border-bottom: 1px solid #ddd;
  border-top: 2px solid #ddd;
  margin: 10px -15px 10px;
  padding: 5px 15px;
}

/*m2m filter: filter_vertical, filter_horizontal*/
.selector {
  background: #f9f9f9;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  margin: 0 -15px;
  position: relative;
  overflow: auto;
}
.selector h2 {
  font-size: 18px;
  margin: 10px 15px;
}
.selector .selector-available {
  float: left;
}
.selector .selector-available,
.selector .selector-chosen {
  width: 40%;
}
.selector .selector-chooser {
  background: #f4f4f4;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  float: left;
  height: 100%;
  left: 40%;
  list-style: none;
  margin: 0;
  padding:9.5em 10px 0 10px;
  position: absolute;
  text-align: center;
  width: 20%;
}
.selector .selector-chosen {
  float: right;
}
.selector .selector-chosen select {
  background: #fff;
  height: 19.12em !important;
}
.selector select {
  border: 0;
  border-bottom: 1px solid #eee;
  height: 17.2em;
  padding: 5px 15px;
  width: 100%;
}
.selector select option {
  overflow: hidden;
  text-overflow: ellipsis;
}
.selector .selector-filter {
  background: #fff;
  border-bottom: 1px solid #eee;
  margin: 0;
  position: relative;
}
.selector .selector-filter input {
  border: 0 none;
  padding: 5px 5px 0 38px;
  width: 100%;
}
.selector .selector-filter label {
  left: 15px;
  position: absolute;
  top: 2px;
}
.selector .selector-clearall,
.selector .selector-chooseall {
  display: block;
  margin: 10px;
  text-align: center;
}

.selector.stacked .selector-available,
.selector.stacked .selector-chooser,
.selector.stacked .selector-chosen {
  float: none;
  width: 100%;
}
.selector.stacked .selector-chooser {
  border: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  position: initial;
}
.selector.stacked .selector-chooser > li {
  display: inline-block;
  text-align: center;
  width: 50%;
}
.widget_type__filteredselectmultiple .input-group {
  width: 100%;
}
.widget_type__filteredselectmultiple .add-related {
  position: absolute;
  right: 0;
  top: -28px;
  width: auto;
}

/* EDIT INLINE */

.inline-group {
  background: #f9f9f9;
  border-bottom: 1px solid #ddd;
  border-top: 2px solid #ddd;
  margin: 5px -15px;
  padding: 0 15px;
  position: relative;
}
.inline-group h2 {
  background: #f5f5f5;
  margin: 0 -15px;
  padding: 5px 15px;
}
.inline-group h3 {
  background: #d9edf7;
  border-bottom: 1px solid #bce8f1;
  border-top: 1px solid #bce8f1;
  margin: 0 -15px 5px;
  overflow: auto;
  padding: 7px 15px 5px;
}
.inline-group h3 input,
.inline-group h3 label {
  margin: 0;
}
.inline-group h3 .btn-group {
  margin-left: 10px;
  margin-top: -10px;
}
.inline-group .btn {
  border: 1px solid #bce8f1;
}
.inline-group .btn:hover {
  background: #f4f4f4;
}
.inline-group .delete input {
  position: relative;
  top: 2px;
}
.inline-group .delete {
  padding: 0;
}
.inline-group .btn label {
  font-weight: normal;
  padding: 5px 6px 2px 0;
}
.inline-group .btn label:hover {
  color: #d9534f;
  cursor: pointer;
}
.inline-group .btn input {
  margin-left: 6px;
}
.inline-group a.btn {
  padding: 5px 6px 2px;
}
.inline-group a.btn:hover {
  color: #428bca;
}
.inline-group .add-row {
  margin: 5px 0;
  float: right;
}
.inline-group .empty-form {
  display: none;
}

.inline-group._tabular {
  padding: 0;
  overflow: auto;
}
.inline-group .tabular h2 {
  margin: 0;
}
.inline-group .tabular tr td:first-child,
.inline-group .tabular tr th:first-child {
  padding-left: 15px;
}
.inline-group .tabular thead th {
  background: #d9edf7;
  border-bottom: 1px solid #bce8f1 !important;
  /*border-top: 1px solid #bce8f1;*/
}
.inline-group .tabular td.original {
  max-width: 200px;
  overflow: hidden;
  word-wrap: break-word;;
}
.inline-group td.original p {
  margin: 0;
}
.inline-group .tabular .form-row {
  position: unset;
  margin: 0;
 /* min-width: 150px;*/
}
.inline-group .tabular .form-row > div {
  position: relative;
}
.inline-group .tabular .row1 {
  background: #fff;
}
.inline-group .add-row {
  float: none;
  text-align: left;
}
.inline-group .tabular .table {
  margin: 0;
}
.inline-group .tabular .delete {
  padding: 8px;
}
.tabular .form-row .related-lookup {
  right: 5px;
  top: 5px;
}
/*.inline-group .checkbox input {
  margin: 0;
}*/

/* Calendar widget */

p.datetime {
  color: #666;
  white-space: nowrap;
}
p.datetime input {
  background: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 4px;
  color: #444;
  height: 24px;
  margin: 2px;
  padding: 2px;
  text-align: center;
  width: 95px;
}
p.datetime span.vTimeField,
p.datetime span.datetimeshortcuts {
  background: #fff;
  border: 1px solid #eee;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  display: inline-block;
  height: 24px;
  line-height: inherit;
  margin-left: -7px;
  padding: 1px 4px 4px 0;
  position: relative;
}

.clockbox,
.calendarbox {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  left: 0 !important;
  overflow: auto;
  padding-top: 20px;
  position: fixed !important;
  right: 0;
  top: 0 !important;
  z-index: 9999;
}
.clockbox h2,
.clockbox ul,
.clockbox .calendar-cancel,
.calendarbox div:first-child,
.calendarbox .calendar-shortcuts,
.calendarbox .calendar-cancel,
.calendarbox .calendar {
  background: #fff;
  width: 500px;
  margin: 0 auto;
  padding: 0;
}

.clockbox h2,
.calendarbox div:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0 30px;
}
.clockbox .calendar-cancel,
.calendarbox .calendar-cancel {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.calendarbox p {
  margin: 0;
}
.calendarbox table {
  width: 100%;
}
.calendarbox table th,
.calendarbox table td {
  padding: 5px;
  text-align: center;
}
.calendarbox table th {
  border-bottom: 1px solid #ccc;
}
.calendarbox table tr:nth-child(2n+1) td {
  background: #f9f9f9;
}
.calendarbox caption {
  margin-top: -17px;
  padding: 0 45px;
  text-align: center;
}
.calendarbox .calendarnav-next {
  float: right;
}

.calendar a {
  display: block;
}
.calendar-cancel,
.calendar-shortcuts {
  color: #ccc;
  padding: 2px;
  text-align: center;
}

.calendar-shortcuts {
  font-size: 12px;
}
.calendar-cancel a,
.calendar-shortcuts a {
  font-size: 14px;
}
.calendar-cancel a {
  display: block;
  border-top: 1px solid #eee;
  padding: 3px;
}

.clockbox .timelist {
  list-style: none;
  padding: 0;
}
.clockbox .timelist a {
  display: block;
  padding: 5px;
  text-align: center;
}
.clockbox h2 {
  font-size: 16px;
  border-bottom: 1px solid #eee;
  padding: 5px;
  text-align: center;
}
.clockbox .calendar-cancel {
  padding: 10px 0 0;
}

@media (max-width: 767px) {
  .clockbox h2,
  .clockbox ul,
  .clockbox .calendar-cancel,
  .calendarbox div:first-child,
  .calendarbox .calendar-shortcuts,
  .calendarbox .calendar-cancel,
  .calendarbox .calendar {
    width: 90%;
  }
  .form-expand {
    display: none;
  }
  .form-fields {
    padding: 0;
  }
  .form-fields .panel {
    margin-bottom: 0;
  }
  .form-buttons {
    padding-left: 0;
    padding-bottom: 10px;
  }
  .form-buttons .affix {
    position: relative;
    margin-right: 0;
  }
  .form-buttons.contracted .affix {
    right: 0;
  }
}

@media (max-width: 992px) {
  .selector .selector-available,
  .selector .selector-chooser,
  .selector .selector-chosen {
    float: none;
    width: 100%;
  }
  .selector .selector-chooser {
    border: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    left: 0;
    padding: 10px;
    position: relative;
  }
  .selector .selector-chooser > li {
    display: inline-block;
    text-align: center;
    width: 50%;
  }
}

.centrado{
  margin-top: 15%;
  margin-left: 15%;
}

.btn_articulo{
    margin-top: 40px;
    }
