.inline-group._tabular td.original {
	display: none;
}

.inline-group._tabular .field-articulo .select2-container {
	width: 100px;
}

.inline-group._tabular td.field-descripcion .form-control{
	width: 300px;
}

.inline-group._tabular td.field-cantidad .form-control{
	width: 70px;
}

.inline-group._tabular td.field-precio .form-control{
	width: 100px;
}

.inline-group._tabular td.field-iva .form-control{
	width: 60px;
	text-align:center; 
	background-color: #fff; 
	border:none;

	/*remove arrows*/
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	/*readonly*/
	pointer-events: none;
}

.inline-group._tabular td.field-total .form-control{
	width: 100px;
	text-align:center; 
	background-color: #fff; 
	border:none;

	/*remove arrows*/
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	/*readonly*/
	pointer-events: none;
}

.inline-group._tabular td.delete {
	text-align: center;
}

.inline-group._tabular .required {
	text-align: center;
}

.inline-group._tabular td.checkbox {
	display: table-cell; 
	text-align: center;
}

.inline-group._tabular td.field-articulo .delete-related{
	display: none;
}

.inline-group._tabular td.field-articulo .change-related{
	display: none;
}

.form-row .field-cheque .change-related{
	display: none;
}

.field-boxes .select2-container {
	width: 185px;
}


.field-boxes .field-neto_gravado.field-iva.field-total input{
	background-color: #fff; 
	border:none;
	
}


.inline-group input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.field-boxes .field-neto_gravado.field-iva.field-total input {
	/*readonly*/
	/*pointer-events: none;*/

	/*remove arrows*/
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.field-boxes .field-neto_gravado.field-iva.field-total .required {
	/*readonly*/
	/*pointer-events: none;*/
}

#id_iva{
	pointer-events: none;
}

#id_neto_gravado{
	pointer-events: none;
}

#id_total{
	pointer-events: none;
}

.custom-fields{
	/*remove arrows*/
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	width: 255px;
	float: right;
    margin-left: 32px
}

.input-group.pago {
	padding-left: 15px;
    padding-top: 10px;
}

.extra-fields{
	float: left;
    background: white;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border: 1px solid #cac6c6;
    width: 55%;
}

.extra-fields .pago p{
	margin-top: 15px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 5px;
}

.extra-fields .pago .input-text{
	border-radius: 4px 4px 4px 4px;
    margin-left: 8px;
	margin-bottom: 20px;
	text-align: center;
}

.extra-fields .input-group.result {
	float: right;
	margin-right: 150px;
    margin-top: 46px;
	width: 40%;
}

.extra-fields .input-group.result button{
	float: left;
	margin-top: 7px;
}

.extra-fields .input-group.result span{
	float: right;
    font-size: 25px;
	margin-top:4px;
}

.extra-fields .input-group.pago {
	float: left;
}


@media screen and (max-width:1025px) {
    .extra-fields .input-group.result button{
		float: left;
		margin-top: 7px;
	}

	.extra-fields .input-group.result{
	
	    margin-top: 46px;
		float: initial;
		padding-left: 18px;
		width: 43%;
	}

	.extra-fields .input-group.result span {
		float: right;
		font-size: 20px;
		margin-top: 10px;
	}
}
