{% extends "easy_pdf/base.html" %}

{% block layout_style %}
    <style type="text/css">
        @page {
         size: {{ pagesize}};


       /* 40 LETRAS DESCRIPCION */
        @frame content_frame {           /* content_frame */
             left: 15pt; width:570pt; top: 20pt;
        }

    }

    </style>
{% endblock %}


{% block extra_style %}
    <style type="text/css">
        body {
            font-family: "Lato", "Helvetica", "sans-serif";
            color: #333333;
        }
    td {
        padding-top: 20px; 
    }
    .precio {
        text-align: center;
        font-size: 70pt;
        margin-top: inherit;
    }

    </style>
{% endblock %}
{%block page_header%}



{% endblock %}
{% block content %}
    <div>
        <table>
            {% for sublist in lista %}
                <tr>
                {% for cod in sublist %}
                    <td>
                        <pdf:barcode barheight="200" barwidth="6" value={{cod.codigo}}  type="code128" humanreadable="1" fontsize= "100px" align="baseline" /> <br>
                        <h3 class="precio"> $ {{ cod.precio_venta }}</h3>
                    </td>
                {%endfor%}
                </tr>
            {%endfor%}
        </table>
    </div>
{% endblock %}
{%block page_foot%}



{% endblock %}
