{% extends "easy_pdf/base.html" %}

{% block layout_style %}

    <style type="text/css">
       
        @page {
         size: {{ pagesize|default:"A4" }};

     
       @frame header_frame {
            -pdf-frame-content: header_content_right;
            left:450pt; width: 300pt; top: 70pt; height: 80pt;
        }
       @frame header_frame {
            -pdf-frame-content: foto;
            left:40pt;  top: 15pt;
        }
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: datos_empresa;
            left: 430pt; width: 200pt; top: 18pt; height: 50pt;
        }
        @frame header_frame {
            -pdf-frame-content: header_content_fecha;
            left: 270pt; width:100pt; top: 70pt; height: 80pt;
        }
        @frame header_frame {
            -pdf-frame-content: header_content_fecha_cliente;
            left: 270pt; width:500pt; top: 55pt; height: 50pt;
        }
        @frame header_frame {
            -pdf-frame-content: header_content_table;
            left: 40pt;width:560pt; top: 100pt; height: 730pt;
        }

        @frame content_frame {
            left: 40pt;width:560pt; top: 100pt; height: 730pt;
        }

       @frame header_frame {
            -pdf-frame-content: Titulo;
            left: 260pt; width: 350pt; top: 30pt; height: 160pt;
        }

        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: footer_content_total_right;
            left: 240pt;width:120pt; top: 525pt;
        }
        @frame header_frame {
            -pdf-frame-content: encuadre;
            left: 40pt;width:520pt; top: 15pt;
        }

    }

    </style>
{% endblock %}

{% block extra_style %}
    <style type="text/css">
        body {
            font-family: "Lato", "Helvetica", "sans-serif";
            color: #333333;
        }

        h4 {
            line-height: 10% ;

        }
        .dd{
            max-width: 50px;
            max-height: 50px;
        }
         .datos{
            text-align: right;
        }

        .centrado{
           padding-left: 50px;
        }

        h5 { font-size: 12px;}
        .numero{
           margin-right: 25px;
           text-align:right;
        }
        .hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 2px solid #000;
            border-bottom: 2px solid #000;
            margin: 1em 0;
            padding: 3px;

        }
        tr{
            padding-top: 3px;
            padding-bottom: 0px;
            margin-bottom: 0px;
            border-bottom: 0.5px solid #000;
            border-top: 0.5px solid #000;
        }
        .no_linea{
            border-top: none;
            border-bottom: none;
            padding-left: 10px;
        }
        .encuadre{
             border: 0.5px solid #000;
        }
        .pal{
            padding-bottom: 1040px;

        }
        .venta{
            padding-left: 3px;
        }
        .tabla_letra{
         font-size: 14px;
        }
         .titulo{
         font-size: 16px;
        }
        .total{
            text-align:right;
        }
        .foto{
            padding-left: 0px;
            zoom : 80%;
        }

    </style>
{% endblock %}
{%block page_header%}
     <div id="encuadre" class ="encuadre">
        <h6 class="pal">
            </br>
            </br>
            </br>
        </h6>
    </div>
    <p id="foto" class="foto" ><img src="{{conf.url_estaticos}}/resumenCuenta.jpg"></p>
    
    <div id="Titulo" class="titulo" >
          <h1 >
                Listado de Articulos
          </h1>
        
    </div>
    <div id="supPresupuesto" class ="prepSup"> <h6> &nbsp; </h6></div>
        <div id="header_content_fecha" >
            <h1>
                    Fecha: {{fecha.day}}/{{fecha.month}}/{{fecha.year}}
            </h1>
        </div>
    <div id="header_content_right" >
         <h1>  Página: <pdf:pagenumber /> de <pdf:pagecount/> </h1>
    </div>
    <table class="tabla_letra">
        <thead>
            <tr>
                <th width="400">Detalle </th>
                <th width="120">Precio </th>
            </tr>
        </thead>
    </table>
{% endblock %}

{% block content %}
     <table>
        <tbody>
                {% for a in articulos %}

                        <tr >
                            <td width="400" class="venta">
                                 {{a.codigo}} - {{a.descripcion}}
                            </td>
                            <td width="120" class="numero">
                                $ {{a.precio_venta}}
                            </td>
                        </tr>

               {%endfor%}
    </table>
{% endblock %}



       
           