{% extends "easy_pdf/base.html" %}

{% block layout_style %}
    <style type="text/css">
        @page {
         size: {{ pagesize|default:"A4" }};

        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_encabezado_tipo_factura;
            left: 307pt; width: 17pt; top: 57pt; height: 20pt;
        }
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_encabezado2;
            left: 397pt; width: 180pt; top: 57pt; height: 20pt;
        } 
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: datos_empresa;
            left: 27pt; width: 200pt; top: 120pt; height: 80pt;
        }
    
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content2;
            left: 30pt; width: 500pt; top: 240pt; height: 80pt;
        }
        /*cliente*/
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content3;
            left: 20pt; width: 550pt; top: 175pt; height: 80pt;
        }
       
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content_right;
            left: 368pt; width: 200pt; top: 120pt; height: 40pt;
        }
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content_right2;
            left: 368pt; width: 200pt; top: 183pt; height: 80pt;
        }

        @frame footer_frame {           /* Static Frame */
            -pdf-frame-content: footer_content_left;
            left: 30pt; width: 600pt; top: 310pt; height: 60pt;
        }
        @frame footer_frame {           /* Static Frame */
            -pdf-frame-content: footer_content_left_efectivo;
            left: 30pt; width: 400pt; top: 380pt; height: 60pt;
        }
        @frame header_frame {           
            -pdf-frame-content: foto;
            left:20pt;  top: 25pt; width: 500px; 
        }
        @frame content_frame {           /* contenido del content */
            left: 15pt;width:550pt; top: 245pt;
        }
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_encabezado_numero;
            left: 350pt;width:420pt; top: 60pt; 
        }
        @frame footer_frame {           /* Static Frame */
            -pdf-frame-content: footer_content_total_right;
            left: 330pt;width:300pt; top: 380pt;
        }
        @frame footer_frame {           /* Static Frame */
            -pdf-frame-content: encuadre;
            left: 20pt;width:550pt; top: 25pt;
        }
        @frame content_frame {           
            -pdf-frame-content: supPresupuesto;
            left: 20pt; width: 550pt; top: 115pt; height: 40pt;
        }
        @frame header_frame {          
            -pdf-frame-content: tabla_cheques;
            left: 30pt; width:560pt; top: 318pt; 
        }
    }
    
    </style>
{% endblock %}


{% block extra_style %}
    <style type="text/css">
        body {
            font-family: "Lato", "Helvetica", "sans-serif";
            color: #333333;
        }

        h4 {
            line-height: 10% ;

        }
        .datos{ 
            text-align: right;
        } 
        .centrado{
           text-align:center; 
        }
        .numero{
           margin-right: 25px;
           text-align:right; 
        }
        .encuadre{
             border: 0.5px solid #000;

        }  
        .pal{
            padding-bottom: 500px;
             
        }
        .prepSup{
            display: block;
            height: 1px;
            border: 0;
            border-top: 0.5px solid #000;
            margin: 1em 0;
            padding: 3;
        }
        .hr {  
            display: block;
            height: 1px;
            border: 0;
            border-top: 0.5px solid #000;
            border-bottom: 0.5px solid #000;
            margin: 1em 0;
            padding: 3;
        }
        .letra{
            font-size: 13px;
            line-height:  0.2em ;
        }
        .letra_datoscliente{
            font-size: 14px;
            line-height:  0.3em ;
        }
        .cantidad{
             padding-left: 25px;
        }
        .tipo{

            padding-left: 5px;
            padding-top: 5px;
            padding-bottom: 4px;
            line-height:  0px; 
        }
        .tabla_letra{
         font-size: 12px;   
        }
        .letra_numero{
         font-size: 14px;  
        }
        .letra_grande{
         font-size: 18px;   
        }
        .foto{
            zoom:10%;
        }
    </style>
{% endblock %}
{%block page_header%} 
    <div id="encuadre" class ="encuadre"> 
        <h6 class="pal">
            </br> 
        </h6>

    </div>
    <p id="foto" class="foto" ><img src="{{conf.url_estaticos}}/img_remito.jpg"></p>
    <div id="supPresupuesto" class ="prepSup"> <h6> &nbsp; </h6></div>
    <div id="header_encabezado_tipo_factura"  class="encuadre tipo">
            <h1 class="grande">
                {{tipo}} 
            </h1>
    </div>
    <div id="header_encabezado_numero" class="letra_numero">
            <h1>
                {{tipo_mov}}  N°: {{recibo.numero}} 
            </h1>
    </div>
    <div id="datos_empresa">
            <h4 class="letra">
                {{prop.nombre}}</br>
                {{prop.direccion}}</br>
                Tel: {{prop.telefono}} </br>
                {{prop.cod_postal}} - {{prop.ciudad}} - Pcia de Bs. As.</br>
                E-mail: {{prop.email}}</br>
            </h4>
    </div>
    <div id="header_content_right">
            <h4 class="letra">
                Fecha : {{recibo.fecha|date:"SHORT_DATE_FORMAT"}} </br>
                C.U.I.T. {{prop.cuit}}</br>
                Ingresos Brutos :{{prop.ingresos_brutos}}</br>
                Inicio de Actividades: {{prop.inicio_actividad}}</br>
            </h4>
    </div> 

    <div id="header_content3">
            <h4  class="hr letra_datoscliente">
                Recibi de :  {{recibo.cliente.apellido}}, {{recibo.cliente.nombre}}</br>
                Domicialiado en: {{recibo.cliente.direccion}}, {{recibo.cliente.localidad}}({{recibo.cliente.cod_postal}}), {{recibo.cliente.provincia}}</br>
                C.U.I.T: {{recibo.cliente.dni_cuit}}</br>
            </h4>
    </div>     

{% endblock %}
{% block content %}
    <table class="letra" >
        <tbody >
            <div id="header_content2">
            <h4  class="letra">
                LA CANTIDAD DE PESOS: {{total_texto}}</br>    
                </br>
                </br>
                EN CONCEPTO DE: ..................................................................................................................................................</br></br></br>
                ....................................................................................................................................................................................
            </h4>
        </div>
        </tbody>
    </table>
    <div id="footer_content_total_right" class="letra_grande" >
            <h4>
               <p style="display: initial;">IMPORTE TOTAL: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$</p>
               <p style="display: initial;" class="numero"> {{recibo.total}} </p>
            </h4>
    </div>

    <!--
    <div id="footer_content_left">
        <h4 >
            CHEQUES:
            <table id="tabla_cheques"  class="tabla_letra">
                <tr>
                    <td>
                        Número
                    </td>
                    <td>
                        Banco
                    </td>
                    <td>
                        Fecha
                    </td>
                    <td>
                        Importe
                    </td>   
                </tr>
                {% for cheque in cheque_movimiento %}
                    <tr>
                        <td >
                            {{cheque.cheque.nro_cheque}}
                        </td>
                        <td >
                            {{cheque.banco}}
                        </td>
                        <td >
                            {{cheque.fecha_posdata}}
                        </td>
                        <td >
                           {{cheque.importe}}
                        </td>
                    </tr>
                {%endfor%}
            </table>      
        </h4>
    </div> 
    -->
    
    <div id="footer_content_left_efectivo" class="letra_pie">
        EFECTIVO: {{recibo.total}}
    </div>

{% endblock %}


     



