{% extends "admin/change_list.html" %}
{% block result_list %}
 </br>
<div class="col-lg-3 col-md-3">
  <h4 class="nombre" id="total_ing_efec" style="padding-left:10px;padding-top:10px;" ></h4>
</div>
<div class="col-lg-3 col-md-3">
  <h4 class="nombre" id="total_ing_tarj" style="padding-left:10px;padding-top:10px;" ></h4>
</div>
<div class="col-lg-3 col-md-3">
  <h4 class="nombre" id="total_egr_efec" style="padding-left:10px;padding-top:10px;" ></h4>
</div>
<div class="col-lg-3 col-md-3">
  <h4 class="nombre" id="total_egr_tarj" style="padding-left:10px;padding-top:10px;" ></h4>
</div>
    {{ block.super }}
{% endblock %}

{% block js %}
  {{ block.super }}
  <script>
django.jQuery(function ($) {
  $( document ).ready(function() {
      console.log(window.location.search.substring(1));
      $.ajax({
				url: '/admin/caja_diaria_json/' + window.location.search.substring(1) + '/',
				data: '',
			}).done(function( data ) {
				$('#total_egr_efec').text('Total Egreso Efectivo: $ ' + data.egreso_efectivo);
				$('#total_egr_tarj').text('Total Egreso Tarjeta: $ ' + data.egreso_tarjeta);
				$('#total_ing_efec').text('Total Ingreso Efectivo: $ ' + data.ingreso_efectivo);
				$('#total_ing_tarj').text('Total Ingreso Tarjeta: $ ' + data.ingreso_tarjeta);

			});

  });


});

  </script>
{% endblock js %}