{% extends "admin/change_list.html" %}

 {% block result_list %}
  </br>
  </br>
  <h4 class="nombre" ></h4>
  
  {{ block.super }}
    
    
{% endblock %}
{% block js %}
  {{ block.super }}
  <script>
django.jQuery(function ($) {
      // nombre de la cuenta corriente

$('[type=checkbox]').change(function () {
    var tabla = document.getElementById('result_list');  
    var total_row = tabla.rows.length;
    var suma_total = 0;
    for (var x = 1; x < total_row; x++) {
        if (tabla.rows[x].cells[2].innerHTML != "Factura" && tabla.rows[x].cells[0].children[0].checked) {
            suma_total += parseFloat(tabla.rows[x].cells[6].innerHTML.replace(",","."));
        }
    }
    $('.nombre').text('Total Remitos: $ ' + suma_total);
})
});

  </script>
{% endblock js %}


var rowLength = table.rows.length;

for(var i=0; i<rowLength; i+=1){
  var row = table.rows[i];

  //your code goes here, looping over every row.
  //cells are accessed as easy

  var cellLength = row.cells.length;
  for(var y=0; y<cellLength; y+=1){
    var cell = row.cells[y];

    //do something with every cell here
  }
}