{% extends "admin/base.html" %}
{% load admin_static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}" />
{% endblock %}

{% block nav-global %}{% endblock %}

{% block branding %}
<a href="{% url 'admin:index' %}" class="django-admin-logo">
    <img src="{% static "img/logo.png" %}" style="width: 40%; height: 100%;" alt="Logo">
</a>
{% endblock %}
