{% load i18n %}
{% for choice in choices %}
    <li{% if choice.selected %} class="selected"{% endif %}>
    <a href="{{ choice.query_string|iriencode }}">{% if choice.selected %}<span class="glyphicon glyphicon-ok"></span>{% endif %} {{ choice.display }}</a></li>
{% endfor %}
