{% extends "admin/index.html" %}
{% load i18n admin_static filters_maglei %}

{% block recent_actions %}
<div id="content-related" class="recent-actions panel-body">
  <div class="module" id="recent-actions-module">
    <div class="page-header">
        <h2 id="timeline" class="h3">{% trans 'Recent Actions' %}{% if not user|in_group:"Administradores,Usuarios" %} <small>({% trans 'My Actions' %})</small>{% endif %}</h2>
    </div>
    {% load log %}
    {% get_admin_log 10 as admin_log for_user user %}
    {% if not admin_log %}
      <p class="none-available">{% trans 'None available' %}</p>
    {% else %}
      <ul class="timeline">
        {% for entry in admin_log %}
          {% if entry.is_addition %}
          <li>
            <span class="timeline-badge add">
              <i class="glyphicon glyphicon-plus"></i>
            </span>
          {% elif entry.is_change %}
          <li>
            <span class="timeline-badge change">
              <i class="glyphicon glyphicon-pencil"></i>
            </span>
          {% else %}
          <li class="timeline-inverted">
            <span class="timeline-badge delete">
              <i class="glyphicon glyphicon-minus"></i>
            </span>
          {% endif %}
            <span class="timeline-panel">
              <span class="timeline-heading">
                <h4 class="timeline-title h4">
                  {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                  {% else %}
                    <a href="{{ admin_root_url }}{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                  {% endif %}
                  ( {% if entry.content_type %}
                    {% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}
                  {% else %}
                    {% trans 'Unknown content' %}
                  {% endif %} )
                </h4>
                <p>
                  <small class="text-muted">
                    <i class="glyphicon glyphicon-time"></i> {{ entry.action_time }}
                  </small>
                </p>
              </span>
              <span class="timeline-body">
                <p>
                  {{ entry.user|nice_name }}
                </p>
              </span>
            </span>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
{% endblock recent_actions %}

