{% load i18n admin_urls %}

<div class="submit-row list-group">
  {% if show_save_and_continue %}
    <button type="submit" class="list-group-item active" title="{% trans 'Save and continue editing' %}" name="_continue">
      <span class="glyphicon glyphicon-pencil"></span>
      <span class="text">{% trans 'Save and continue editing' %}</span>
    </button>
  {% endif %}
  {% if show_save %}
    <button type="submit" title="{% trans 'Save' %}" class="list-group-item " name="_save">
      <span class="glyphicon glyphicon-floppy-disk"></span>
      <span class="text">{% trans 'Save' %}</span>
    </button>
  {% endif %}

  {% if show_save_as_new %}
    <button type="submit" class="list-group-item" title="{% trans 'Save as new' %}" name="_saveasnew">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="text">{% trans 'Save as new' %}</span>
    </button>
  {%endif%}

  {% if show_save_and_add_another %}
    <button type="submit" class="list-group-item" title="{% trans 'Save and add another' %}" name="_addanother">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="text">{% trans 'Save and add another' %}</span>
    </button>
  {% endif %}


  {% if show_delete_link %}
    {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
    <a title="{% trans "Delete" %}" class="list-group-item deletelink" href="{% add_preserved_filters delete_url %}">
      <span class="glyphicon glyphicon-trash"></span>
      <span class="text">{% trans "Delete" %}</span>
    </a>
  {% endif %}

       {% if  opts.verbose_name  == 'Venta' and original.pk and not original.tipo_venta == "nota" %}
          </br>
           <div class="submit-row list-group">
            <a class="list-group-item " target="_blank" id="generar_presupuesto" href="{% url "generarPresupuesto" original.pk %}" class="addlink">Presupuesto</a>
             {% if original.tipo_venta == 'presupuesto' %}
              {% if not original.venta_remito %}
                <a class="list-group-item btn-generar" id="generar_remito"  target="_blank" href="{% url "generarRemito" original.pk %}" class="addlink"> <span class="{{original.pk|simbolo_remito}}"> </span> Remito {{original.pk|Remito}}</a>
              {% endif %}
              <a class="list-group-item btn-generar" id="generar_factura"  target="_blank" href="{% url "generarFactura" original.pk %}" class="addlink"><span class="glyphicon glyphicon-remove"></span> Factura </a></br>
            {% elif original.tipo_venta == 'remito' %}
                <a class="list-group-item btn-generar" id="generar_remito"  target="_blank" href="{% url "generarRemito" original.pk %}" class="addlink"> <span class="glyphicon glyphicon-ok"> </span> Remito {{original.numero}}</a>
            {% elif original.tipo_venta == 'factura'  %}
              <a class="list-group-item btn-generar"  id="generar_factura" target="_blank" href="{% url "generarFactura" original.pk %}" class="addlink"><span class="glyphicon glyphicon-ok"></span> Factura {{original.numero}}</a></br>
            {% endif %}
         </div>
       {% elif original.tipo_venta == "nota" %}
          </br>
          </br>
          <a class="list-group-item" target="_blank" href="{% url "generarNotaCredito" original.pk %}" class="addlink">Nota de Credito</a>
      {%endif%}
    {% if  opts.verbose_name  == 'Venta Remito' and original.pk %}
        </br>
         <div class="submit-row list-group">
            <a class="list-group-item btn-generar"  target="_blank" href="{% url "crearVenta" original.pk %}" class="addlink"><span></span> Crear Venta</a></br>
         </div>
      {%endif%}
    {% if  opts.verbose_name  == 'Movimiento' and original.pk %}
        </br>
         <div class="submit-row list-group">
            <a class="list-group-item btn-generar"  target="_blank" href="{% url "generarRecibo" original.pk %}" class="addlink"><span></span> Imprimir Recibo </a></br>
         </div>
      {%endif%}
    {% if  opts.verbose_name  == 'Multiples Movimientos' and original.pk %}
        </br>
         <div class="submit-row list-group">
            <a class="list-group-item btn-generar"  target="_blank" href="{% url "generar_multiples_recibos" original.pk %}" class="addlink"><span></span> Imprimir Recibo </a></br>
         </div>
      {%endif%}
    {% if  opts.verbose_name  == 'Multiples Movimientos' and original.pk %}
        </br>
         <div class="submit-row list-group">
            <a  class="list-group-item btn-generar" id="generar_movimientos"  target="_blank" href="{% url "crear_movimientos" original.pk %}" class="addlink"><span></span> Generar Movimientos </a></br>
         </div>
      {%endif%}
    {% if  opts.verbose_name  == 'Impresion de Etiquetas' and original.pk %}
      </br>
      <a class="list-group-item " target="_blank" href="{% url "crear_etiquetas" original.pk %}" class="addlink">Generar Etiquetas</a>

    {%endif%}
</div>
