
.btn_articulo{
    margin-top: 10px;
    }

.inline-group._tabular .field-articulo .select2-container {
	width: 300px;
}

.inline-group._tabular td.delete {
	text-align: center;
}

.inline-group._tabular .required {
	text-align: center;
}

.inline-group._tabular td.checkbox {
	display: table-cell; 
	text-align: center;
}