{% extends "admin/change_list.html" %}

{% block object-tools %}
    <ul class="object-tools pull-right">
        <li>
            <a href="{% url "cargar_articulos" %}" id="marcar_todas_leidas" class="btn btn-primary btn-xs" role="button">
             Actualizar Artículos
            </a>
        </li>
    </ul>
    {{ block.super }}
{% endblock %}
