{% load bootstrap_admin_template_tags %}
<fieldset class="module aligned {{ fieldset.classes }}">
  {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
  {% if fieldset.description %}
    <div class="description">{{ fieldset.description|safe }}</div>
  {% endif %}
  {% for line in fieldset %}
    {% if not line.fields|length_is:'1' %}
      <div class="field-boxes row">
        {% for field in line %}
          {% include "admin/includes/field.html" with line=line css_field_box=line|class_for_field_boxes %}
        {% endfor %}
      </div>
    {% else %}
      {% for field in line %}
        {% include "admin/includes/field.html" with line=line %}
        {# Insert inlines after the field #}
        {% for inline_admin_formset in inline_admin_formsets %}
                {% if inline_admin_formset.opts.insert_after == field.field.name %}
                    {% include inline_admin_formset.opts.template %}
            {% endif %}
        {% endfor %}
      {% endfor %}
    {% endif %}

  {% endfor %}
</fieldset>
