{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls admin_static %}
{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/articulo.css" %}" />
{% endblock %}
{% block content %}

			<fielset class="module aligned ">
                                </br>
            </br>
            </br>
            </br>
								<form  action=""  method="post" >
									{% csrf_token %}
										<div class="  col-lg-4 col-md-12 col-sm-12 pull-left">
						                    <div class="col-lg-6 margen-top tlabel">{{ form.costo.label_tag }}</div>
						                    {{form.costo}}
						                </div>

								        <div class="  col-lg-4 col-md-12 col-sm-12 pull-left">
                      						<div class="col-lg-6 margen-top tlabel">{{ form.iva.label_tag }}</div>
                      						{{ form.iva }}
                  						</div>
                  						<div class="  col-lg-4 col-md-12 col-sm-12 pull-left">
                      						<div class="col-lg-6 margen-top tlabel">{{ form.ganancia.label_tag }}</div>
                      						{{ form.ganancia }}
                  						</div>

									{% for obj in queryset %}
										<input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
									{% endfor %}
									<input type="hidden" name="action" value="{{action}}" />
									<input type="hidden" name="post" value="yes" />

								<div class="  col-lg-4 col-md-offset-2 col-md-4 col-md-offset-2 col-sm-12 pull-left btn_articulo">
									 <button type="submit" class=" list-group-item active"> <span class="glyphicon glyphicon-usd"></span>
		  								<span class="text">Actualizar Articulos</span></button>
								</div>
								 </br>
								 <div class="col-lg-12 col-md-12">
									 <h4 class="margen-listado ">Listado de articulos</h4>
									 		{%for p in queryset%}
									 			<ul class="margen-articulo">{{p.descripcion}}</ul>
									 		{%endfor%}
								 </div>
								</form>
			</fielset>
{% endblock %}
{% block bootstrap_admin_js %}
  <script src="{% static 'bootstrap_admin/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'bootstrap_admin/js/base.js' %}"></script>

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

{% endblock bootstrap_admin_js %}
