{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap_admin/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />

 {% block title %}Actualizar Precios | Administración Mundo VW{% endblock %}
{% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />               
 
   

<form class="centrado" id="changelist-form"  method="post" action={% url 'actualizarArticulos' %}>
   {% csrf_token %}
  <fielset class="module aligned scheduler-border ">
    <legend class="scheduler-border  ">Actualizar Precios</legend>
    <div class=" col-lg-6  " >
      {% for field in form %}
            {{ field.errors }}
                
                  <div class="  col-lg-6 col-md-12 col-sm-12 pull-left">
                      <div class="col-lg-6 margen-top tlabel">{{ field.label_tag }}</div>
                      {{ field }}
                  </div>
      {%endfor%}
      <button type="submit" class=" list-group-item active iva b "> <span class="glyphicon glyphicon-export"></span>
      <span class="text">Cargar</span></button>
    </div>
  </fielset>    
</form>

{% endblock %}

<script type="text/javascript" src="/admin/jsi18n/"></script>
{% block bootstrap_admin_js %}
  <script src="{% static 'bootstrap_admin/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'bootstrap_admin/js/base.js' %}"></script>

 <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
{% endblock bootstrap_admin_js %}
{% block js %}
  <script>
    $.ajax({
        url: '/admin/allProveedores/',
        data: '',
    }).done(function( data ) {
      var options;
      options += '<option selected disabled > Seleccione un Proveedor </option>';
      for (var i = 0; i < data.proveedores.length; i++) {
        options += '<option value="' + data.proveedores[i][0] + '">' + data.proveedores[i][1] + '</option>';
      }
      $("select#id_Proveedor").html(options);
    });

    $("#id_Proveedor").select2();
  </script>
{% endblock js %}

