{% extends "easy_pdf/base.html" %}

{% block layout_style %}
    <style type="text/css">
        @page {
         size: {{ pagesize}};

       
       /* 40 LETRAS DESCRIPCION */
        @frame content_frame {           /* contenido del content */
            
        }
 
    }
    
    </style>
{% endblock %}


{% block extra_style %}
    <style type="text/css">
        body {
            font-family: "Lato", "Helvetica", "sans-serif";
            color: #333333;
        }
         .codigo_original{
         font-size: 80px; 
         padding-left:60px;
         margin: 0px;
         padding-top:20px;   
         line-height:  0px; 
         font-weight: bold;

        }
       
    
       
        .des_mediano{
              padding-left:60px;
             font-size: 70px; 
         margin:0px;   
         line-height:  0px;
        font-weight: bold;
        }
        .des_chico{
              padding-left:60px;
             font-size: 90px; 
             margin:0px;   
             line-height:  0px;
            font-weight: bold;
        }  
        .des_muy_chico{
              padding-left:60px;
            font-size: 110px; 
             margin:0px;   
             line-height:  0px;
            font-weight: bold;
        }
     
    </style>
{% endblock %}
{%block page_header%} 
   
  

{% endblock %}
{% block content %}
   {% for a in articulos %}
    {% for i in a.cantidad|contador %}
     <div  >
            <h1 class="codigo_original">
                {{a.codigo_proveedor}}&nbsp;  CO:{{a.codigo_proveedor}}
              
            </h1>
            {% if a.descripcion|length > 30 %}
                <h1 width="800" height="800" class="des_mediano">
            {% elif a.descripcion|length > 20 %}
                <h1 width="800" height="800" class="des_mediano">
            {% elif a.descripcion|length > 10 %}
                <h1 width="800" height="800" class="des_chico">
            {% else %}
                <h1 width="800" height="800" class="des_muy_chico">
            {% endif %}
               {{a.descripcion}}
            </h1>
            
            <h1 class="codigo_original" >
                Est={{a.estante}}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Ubic={{a.ubicacion}}
            </h1>

                <pdf:barcode barheight="200" barwidth="6" value={{a.codigo_proveedor}}  type="code128" humanreadable="1"  align="center" /> 
            <pdf:nextpage /> 
    {%endfor%} 
     {%endfor%}       
    
{% endblock %}
{%block page_foot%}
  


{% endblock %}
