{% extends "easy_pdf/base.html" %}

{% block layout_style %}

    <style type="text/css">
       
        @page {
         size: {{ pagesize|default:"A4" }};

     
       @frame header_frame {
            -pdf-frame-content: header_content_right;
            left:200pt; width: 200pt; top: 42pt; height: 80pt;
        }
       @frame header_frame {
            -pdf-frame-content: foto;
            left:40pt;  top: 30pt; 
        }
        @frame header_frame {          
            -pdf-frame-content: header_content_fecha;
            left: 150pt;width:300pt; top: 55pt; height: 50pt;
        }
        @frame header_frame {          
            -pdf-frame-content: header_content_fecha_cliente;
            left: 50pt;width:500pt; top: 55pt; height: 50pt;
        }
        @frame header_frame {          
            -pdf-frame-content: header_content_right2;
            left: 20pt;width:380pt; top: 150pt; 
        }
    
        @frame content_frame {
            left: 20pt;width:560pt; top: 80pt; height: 750pt;
        }

       @frame header_frame {
            -pdf-frame-content: Titulo;
            left: 180pt; width: 350pt; top: 30pt; height: 60pt;
        }
        @frame content_frame {           
            -pdf-frame-content: supPresupuesto;
            left: 20pt; width: 560pt; top: 70pt; height: 40pt;
        }
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: footer_content_total_right;
            left: 240pt;width:120pt; top: 525pt; 
        }
        @frame header_frame {
            -pdf-frame-content: encuadre;
            left: 20pt;width:560pt; top: 15pt;
        }
        @frame header_frame {
            -pdf-frame-content: Total;
            left: 290pt;width:380pt; top: 800pt;
        }
    }
    
    </style>
{% endblock %}

{% block extra_style %}
    <style type="text/css">
        body {
            font-family: "Lato", "Helvetica", "sans-serif";
            color: #333333;
        }

        h4 {
            line-height: 10% ;

        }
        .dd{ 
            max-width: 50px; 
            max-height: 50px;
        }
         .datos{ 
            text-align: right;
        }  
         
        .centrado{
           padding-left: 50px;
        }

        h5 { font-size: 12px;}
        .numero{
           margin-right: 25px; 
           text-align:right; 
        }   

        .logo img { zoom: 80%; }
        .prepSup{
            display: block;
            height: 1px;
            border: 0;
            border-top: 2px solid #000;
            margin: 1em 0;
            padding: 3px;
        }
        .hr {  
            display: block;
            height: 1px;
            border: 0;
            border-top: 2px solid #000;
            border-bottom: 2px solid #000;
            margin: 1em 0;
            padding: 3px;

        }
        tr{
            padding-top: 3px; 
            padding-bottom: 0px !important;
            margin-bottom: 0px !important;
            border-bottom: 0.5px solid #000;
            border-top: 0.5px solid #000;
        }
        .no_linea{
            border-top: none;
            border-bottom: none; 
            padding-left: 30px;   
        }
        .encuadre{
             border: 0.5px solid #000;
        }
        .pal{
            padding-bottom: 1040px;

        }
        .venta{
            padding-left: 3px;
        }
        .tabla_letra{
         font-size: 14px;   
        }
         .titulo{
         font-size: 16px;   
        }
       

    </style>
{% endblock %}
{%block page_header%}
     <div id="encuadre" class ="encuadre">
        <h6 class="pal">
            </br>
            </br>
            </br>
        </h6>
    </div>
    <div id="Titulo" class="titulo" >
          <h1 >
                Resumen de Cuentas Corrientes   
          </h1>
        
    </div>
<div id="supPresupuesto" class ="prepSup"> <h6> &nbsp; </h6></div>
    {% if cuenta_cliente %}
        <div id="header_content_fecha_cliente" >
            <h1>
                Fecha: {{fecha.day}}/{{fecha.month}}/{{fecha.year}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cliente: {{cliente.apellido}}, {{cliente.nombre}}    
            </h1>
        </div>    
    {%else%}
        <div id="header_content_fecha" >
            <h1>
                Fecha: {{fecha.day}}/{{fecha.month}}/{{fecha.year}}
            </h1>
        </div>
    {% endif %}     
    <table id="header_content_table" class="tabla_letra">
        <thead>
            <tr>
                {% if cuenta_cliente %}
                    <th width="320">Detalle </th>
                {%else%}
                    <th width="320">Cliente </th>
                {% endif %}   
                <th  width="80" >Debe</th>
                <th  width="80" >Haber</th>
                <th width="80">Saldo</th>
            </tr>
        </thead>
    </table>       
{% endblock %}

{% block content %}
     <table>
        <tbody>
             {% if not cuenta_cliente %}
                {% for c in cuentas %}
                    {% if c.saldo > 0 %}
                        <tr >
                            <td width="320" class="venta">
                                 {{c.cliente.apellido}}, {{c.cliente.nombre}}
                            </td>
                            <td width="80" >
                                <p class="numero">{{c.deuda}}</p>
                            </td>
                            <td width="80" class="numero">
                                {{c.haber}}
                            </td>
                            <td width="80" class="numero">
                                {{c.saldo}}
                            </td>
                        </tr>
                    {% endif %}

               {%endfor%}
            {%else%}
                {% for c,x,art in resumen_cliente %}
                        <tr >
                            <td width="320" class="venta">
                                {{c.fecha|date:"SHORT_DATE_FORMAT"}},
                                {% if c.content_type.model == "venta"%}
                                    {{ x.tipo_venta}} &nbsp;&nbsp; {{ x.tipo_Factura}}
                                {%else%}
                                    {{ x.tipo_movimiento}}
                                {% endif %} 
                                ,  {{x.numero}}
                            </td>
                            <td width="80" >
                                <p class="numero">{{c.debe}}</p>
                            </td>
                            <td width="80" class="numero">
                                {{c.haber}}
                            </td>
                            <td width="80" class="numero">
                                {{c.saldo}}
                            </td>
                        </tr>
                      
                        {% for a in art %}
                          <tr class ="no_linea">
                            <td width="500">{{a.descripcion}}</td>
                           
                            </tr>   
                        {%endfor%}
                         
                    {%endfor%}

            {% endif %}
    </table>
    {% if not cuenta_cliente %}
    <div id="Total"  >
          <h1 >
                Total: $ {{total}}
          </h1>
        
    </div>
    {% endif %}

{% endblock %}



       
           